

<div class="banner-dashboard">
  <div class="banner-position-d container">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h1>Welcome <%= current_user.first_name %></h1>
      <p>Manage your bookings</p>
    </div>
    <div>
      <p class="time"><%= Time.now().strftime('%d %B %Y') %></p>
    </div>
  </div>

  </div>
</div>
