
<div class="error">

<section class="centered">
  <h1 style= "font-size:90px" >500 Server Error</h1>
  <div style= "padding-left:550px"class="container">
    <span class="message" id="js-whoops"></span> <span class="message" id="js-appears">Ohhhh mince ...</span> <span class="message" id="js-error"></span> <span class="message" id="js-apology"></span>
  </div>
</section>

<img src="https://auxmerveilleux.com/clapham/440/croissant.jpg" class="rotate linear infinite" width="200" height="200" style="position:absolute;top:80px;right:40px" />
<img src="https://www.aldi.lu/content/aldi/luxembourg/promotions/source-localenhancement/2019/2019-01/2019-01-02/vast_assortiment/1414/1/0/_jcr_content/assets/imported-images/BILD_INTERNET5/1414_PRIMARY_0_nl-fr-de_Chocoladekoek_met_patisseriecreme_geenmerk.png/_jcr_content/renditions/opt.1250w.png.res/1661133038921/opt.1250w.png" class="rotate linear infinite" width="200" height="200" style="position:absolute;top:80px;left:40px" />
<img src="https://www.maisongrangier.com/wp-content/uploads/2021/09/Pain-Aux-Raisins.png" class="rotate linear infinite" width="200" height="200" style="position:absolute;bottom:50px;right:40px" />
<img src="https://aux3petitschoux.com/580-large_default/chausson-aux-pommes.jpg" class="rotate linear infinite" width="200" height="200" style="position:absolute;bottom:50px;left:40px" />
</div>


<script>

// Here are the different messages we'll use for creating the 500 displayable message
</script>
