<div class="my_vans-container" style="padding-top: 70px">

  <div class="my_vans-sidebar-container">
    <div class="my_vans-sidebar">
      <%= link_to my_vans_path do %>
        <div class="app-sidebar-link">
          <i class="fa-solid fa-van-shuttle"></i>
        </div>
      <%end%>
      <%= link_to dashboard_path do %>
        <div class="app-sidebar-link">
          <i class="fa-solid fa-calendar"></i>
        </div>
      <%end%>
    </div>
  </div>

  <div class="my_vans-all-content">
    <div class="my_vans-content">
      <h1>Your Rentals</h1>
      <div class="my_vans-currently-container">
        <h2>Currently Booked</h2>
        <div class="my_vans-currently-cards">
          <p>Some random card</p>
          <p>Some random card</p>
        </div>
      </div>
      <div class="my_vans-previous-container">
        <h2>Previously Booked</h2>
        <div class="my_vans-previous-cards">
          <p>Some random card</p>
          <p>Some random card</p>
        </div>
      </div>
    </div>


    <div class="my_vans-content">
      <h1>Your Vans</h1>
      <div class="my_vans-previous-cards">

      </div>
    </div>
  </div>


</div>
