abbr {
  color: red;
  text-decoration: none;
}

abbr[title] {
  color: red;
  text-decoration: none;
}

.form-control {
  border-radius: 20px;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  background-color: transparent;
  margin: 0;
  color: #404040;
  color: rgba(0, 0, 0, 0.75);
  padding: 6px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 15px;
}
