.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: red;
  padding: 10px 20px;
  background-color: transparent;
  transition: 0.5s background-color ease;
  position: fixed;
  width: 100%;
  margin-bottom: 15px;
}

.navbar-white{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  padding: 10px 20px;
  background-color: transparent;
  transition: 0.5s background-color ease;
  position: fixed;
  width: 100%;
}

.navbar-left{
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: space-around;
  align-items: center;
}

.navbar-left a,p{
  margin: 0px;
  text-decoration: none;
  font-size: 20px;
  color: #005FA3;
}


.navbar-right{
  display: flex;
  flex-direction: row;
}

.navbar-nav{
  display: flex;
  flex-direction: row;
}

.nav-item{
  padding: 0px 12px;
}

.navbar-logo img {
  width: 25px;
}


.navbar-lewagon-white {
  background-color: white;
}
